




/* #lightbox{
    display: none;
}  */

#lightbox.active{
    position: absolute;
    overflow: hidden;
    background: #333;
    width: 800px; 
    height: 540px;
    left: 50%;
    top: 50%;
    margin-left: -400px;
    margin-top: -250px;
    box-sizing: border-box;
    padding: 30px;
    z-index: 99;
    display: block;
}

figure {
    position: relative;
    width: 500px; height: 300px;
    margin: 10px auto;
    overflow: hidden;

}

.indicator{ text-align: center; }

.indicator button{
	background: #666; color: white;
	font-size: 12px;
	border: none; padding: 2px 5px;
}
